* {
  box-sizing: border-box;
}

.header {
  grid-area: header;
  width: 100vw;
  height: 50px;
}
.search-box {
  grid-area: search-box;
  width: 50vw;
  height: 215px;
}
.result-list {
  grid-area: result-list;
  width: 50vw;
  height: calc(100vh - 265px);
  overflow: scroll;
}
.map {
  grid-area: map;
  width: 50vw;
  height: calc(100vh - 50px);
}

.app {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header header'
    'search-box map'
    'result-list map';
  background-color: white;
}

@media only screen and (max-width: 1012px) {
  .search-box {
    width: 60vw;
  }
  .result-list {
    width: 60vw;
  }
  .map {
    width: 40vw;
  }
}

@media only screen and (max-width: 850px) {
  .search-box {
    width: 100vw;
  }
  .result-list {
    width: 100vw;
  }
  .map {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .search-box {
    height: 335px;
  }
  .result-list {
    height: calc(100vh - 335px);
  }
}
