.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  box-shadow: 0 0 3px rgba(0,0,0,.25);
}

.header__logo {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.header__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  color: #2e353b;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
}

.header__menu li {
  margin-left: 20px;
}

.header__menu li:hover {
  color: #01bba5;
}
